Hotel/src/main/java/service/Hotel.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://localhost:8080/Hotel_war_exploded/Hotel" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost:8080/Hotel_war_exploded/Hotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://localhost:8080/Hotel_war_exploded/Hotel" schemaLocation="Hotel_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="daysToHolidays">
    <part name="parameters" element="tns:daysToHolidays"/>
  </message>
  <message name="daysToHolidaysResponse">
    <part name="parameters" element="tns:daysToHolidaysResponse"/>
  </message>
  <message name="getOffers">
    <part name="parameters" element="tns:getOffers"/>
  </message>
  <message name="getOffersResponse">
    <part name="parameters" element="tns:getOffersResponse"/>
  </message>
  <message name="getBookedDays">
    <part name="parameters" element="tns:getBookedDays"/>
  </message>
  <message name="getBookedDaysResponse">
    <part name="parameters" element="tns:getBookedDaysResponse"/>
  </message>
  <message name="bookRoom">
    <part name="parameters" element="tns:bookRoom"/>
  </message>
  <message name="bookRoomResponse">
    <part name="parameters" element="tns:bookRoomResponse"/>
  </message>
  <message name="cancelBooking">
    <part name="parameters" element="tns:cancelBooking"/>
  </message>
  <message name="cancelBookingResponse">
    <part name="parameters" element="tns:cancelBookingResponse"/>
  </message>
  <portType name="Hotel">
    <operation name="daysToHolidays">
      <input ns1:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/daysToHolidaysRequest" message="tns:daysToHolidays" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/daysToHolidaysResponse" message="tns:daysToHolidaysResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getOffers">
      <input ns3:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/getOffersRequest" message="tns:getOffers" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/getOffersResponse" message="tns:getOffersResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getBookedDays">
      <input ns5:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/getBookedDaysRequest" message="tns:getBookedDays" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/getBookedDaysResponse" message="tns:getBookedDaysResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="bookRoom">
      <input ns7:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/bookRoomRequest" message="tns:bookRoom" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/bookRoomResponse" message="tns:bookRoomResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="cancelBooking">
      <input ns9:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/cancelBookingRequest" message="tns:cancelBooking" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://localhost:8080/Hotel_war_exploded/Hotel/Hotel/cancelBookingResponse" message="tns:cancelBookingResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

